/*Планшеты*/
@media (max-width: 780px) {
    .citate {
        width: auto;
        float: none;
    }

    .citate .photo{
        width: 200px;
    }

    div.citate img {
        height: 200px;
        width: auto;
    }

    .image-container.full-size img, .image-container img{
        max-width: 400px;
        height: auto;
    }    

    .citate {
        flex-direction: column;
        width: auto;
        float: none;
    }

    .img-container img{
        max-width: 350px;
        height: auto;
    }

    /*Header*/
    nav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: fit-content;
    }

    .nav-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .logo-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-container{
        margin: 5px 0px;
    }
}