body, html {
    margin: 0px;
}

body {
    padding-top: 60px;
    background-color: #3A506B;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

h1, h2, h3, p, li {
    color: white;
}

h2 {
    text-decoration: underline;
    font-size: 36px;
}

h1 {
    color: #fff;
    font-family: 'Tahoma', cursive;
    font-size: 65px;
    font-weight: normal;
    line-height: 60px;
    margin: 10px 0 20px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #000;
    margin: 10px 0 24px;
    text-align: center;
}

main {
    margin: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.float-right {
    float: right;
    margin-left: auto;

}

.anchor {
    display: block;
    position: relative;
    top: -85px;
    visibility: hidden;
}

/*Навигационное меню*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: #0B132B;
    font-family: Arial;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
}

.logo-container {
    flex-grow: 1;
    margin-left: 30px;
}

.nav-container {
    flex-grow: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav img {
    height: 45px;
}

nav a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown:hover .dropbtn {
    transform: scale(1.1);
    text-decoration: underline;
}

.dropbtn:hover {
    cursor: pointer;
}

nav a:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/*Index page*/

.citates-container {
    display: flex;
    flex-direction: column;
}

.info p {
    text-align: center;
    color: white;
}

.citate {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background-color: #5083c7;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    width: 1000px;
}

.citate p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 20px;
}

div.citate img {
    height: 300px;
    width: auto;
}

.citate .photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.photo p {
    font-size: 18px;
    width: auto;
}

/*Spaceships page*/
.spaceships-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spaceships-info .img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-container img {
    height: 500px;
    width: auto;
    margin: 20px;
}

/*History*/
aside {
    float: right;
}

aside.left {
    float: left;
    margin: 10px;
}

aside img {
    height: 250px;
    width: auto;
}

aside p {
    font-size: 14px;
}

aside div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Future page*/
.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container img {
    height: 400px;
    width: auto;
}

.image-container p {
    font-size: 14px;
}

.image-container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*Art*/
.image-container.full-size img {
    height: auto;
    width: auto;
}

.mid-size img {
    height: 500px;
    width: auto;
}

/*Footer*/
footer {
    background-color: #0B132B;
    padding-left: 20px;
    padding-top: 5px;
    margin-top: 50px;
}

footer p, footer a {
    color: rgb(209, 209, 209);
    font-size: 14px;
    text-decoration: none;
    margin: 0px;
}

footer a, footer a:visited, footer a:hover, footer a:active {
    color: inherit;
}

/*Slider*/
.slideshow-container {
    height: 300px;
    width: fit-content;
    position: relative;
    margin: auto;
}

.slideshow-container img {
    height: 300px;
    width: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

