* {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin-top: 20px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8c8dc;
    background-image: url("./img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

/* Position the "No" button absolutely within body */
#noButton {
    position: relative;
    transition: 0.5s;
    /* Smooth movement */
}
.text {
    background: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

#yesButton {
    position: relative;
    /* Smooth movement */
}

.header_text {
    font-family: cursive;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    text-align: center;
    /*padding-top: 30px;*/
    padding-bottom: 5px;
}

.buttons {
    display: flex;
    gap: 50px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.btn {
    width: 200px;
    height: 100px;
    background-color: deeppink;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 50px;
    margin: 40px 20px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #faf9f6;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 30vw;
}

.hidden {
    display: none;
}


.meme_image {
    border: 10px solid #ffb6c1;
    border-radius: 20%;
}

@media (max-width: 500px) {
    * {
        margin: 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f8c8dc;
        background-image: url("./img/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* Position the "No" button absolutely within body */
    #noButton {
        position: relative;
        transition: 0.5s;
        /* Smooth movement */
    }
    .text {
        background: white;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
    }

    #yesButton {
        position: relative;
        /* Smooth movement */
    }

    .header_text {
        font-family: cursive;
        font-size: 1.5rem;
        font-weight: bold;
        color: black;
        text-align: center;
        /*padding-top: 30px;*/
        padding-bottom: 5px;
    }

    .buttons {
        display: flex;
        gap: 1vw;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-right: 0;
    }

    .btn {
        width: fit-content;
        height: fit-content;
        background-color: deeppink;
        color: white;
        text-align: center;
        display: inline-block;
        font-size: 2rem;
        cursor: pointer;
        border: none;
        border-radius: 12px;
        transition: background-color 0.3s ease;
    }

    .btn:hover {
        background-color: #faf9f6;
    }

    .gif_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 60vw;
        /*height: ;*/
    }

    .hidden {
        display: none;
    }

    #memeButton {
        font-size: 18px;
    }

    .meme_image {
        border: 10px solid #ffb6c1;
        border-radius: 20%;
    }
}
